.footer-main {
	background-color: #2d2b2f;
	text-align: center;
	font-size: 14px;
	color: #6c757d;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-width: 600px;
}

.title-text-footer {
	font-size: 15px;
	color: #ffffff;
	margin: 10px 0px 5px 0px;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-bottom-text {
	color: #e5e5e5;
	font-size: 12px;
	margin: 10px 0px 5px 0px;
	padding: 7px 0px 2px 0px;
}

.open-close-footer {
	width: 100%;
	border-top: #e5e5e5 1px solid;
	display: flex;
	justify-content: space-around;
}

.feedback-text-footer {
	color: #e5e5e5;
	font-size: 12px;
}

.feedback-footer {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.feedback-box {
	display: flex;
	gap: 10px;
	align-items: center;
}

.social-icons-footer {
	display: flex;
	gap: 10px;
	flex-direction: row;
	justify-content: center;
}

.button-subscription-footer {
	background-color: #2d2b2f;
	color: #ffffff;
	border: none;
	padding: 8px 16px;
	border: 1px solid #e5e5e5;
	cursor: pointer;
	margin-left: 20px;
}

.input-subscription-footer {
	padding: 8px;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	color: #2d2b2f;
}