.header-main {
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	background-image: url(../../../public/SearchImageHeader.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	min-height: clamp(400px, 60vh, 600px);
	border-bottom: 4px solid #ffa800;
}

.btn-tickets {
	height: 50px;
	width: 200px;
	background-color: #ffa800;
	color: #ffffff;
	border: none;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 0px;
}

.form-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.header-search-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 20px;
}

.input-form-search {
	width: 200px;
	height: 30px;
}
