.header-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-image: url(../../../public/4d393515552ec05b23bca029a735fc146cf0ebff.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	min-height: clamp(400px, 60vh, 600px);
	border-bottom: 4px solid #ffa800;
}

.header-main::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.31);
	pointer-events: none;
	z-index: 1;
}

.box-input-header {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
