.review-box {
    width: 100%;
    height: 900px;
}

.circle-change-review {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.circle-review {
    text-decoration: none;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #E5E5E5;
}

.active-circle-review {     
    background-color: #C4C4C4;
}