.how-work-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../../../../public/ce7b1b18359fa1466fc2860526cab5ac824d0ba5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 620px;

}

.how-work-component::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFA800;
    opacity: 0.7;
    pointer-events: none;
    z-index: 1;
}

#how-it-works {
    scroll-margin-top: 100px;
}

.how-work-header {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 0 80px;
}

.how-work-main {
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 80px 0 80px;
}

.how-work-title {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 500;
}

.how-work-button {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    width: 325px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
}

.how-work-text {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.how-work-step {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}