.about-us-box {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 10% 20% 10% 20%;
	box-sizing: border-box;
}

.about-us-text,
.about-us-text-bolder {
	margin: 0px;
}

.about-us-title {
	font-size: 36px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 20px;
	margin-top: 0px;
}

#about-us {
	scroll-margin-top: 100px;
}

.about-us-text-box {
	border-left: 3px solid #ffa800;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-left: 10px;
}

.about-us-text-bolder {
	font-weight: 500;
	font-size: 20px;
}
